<div class="card material-table">
<div class="table-header">
  <h5>Users</h5>
</div>
<table class="table" id="dttb">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user%></td>
      <td><%= user.email %></td>
      <td class="right-align">
        <% if current_user.admin? && !current_user?(user) %>
          <div class="btn-group">
            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu  dropdown-menu-left" aria-labelledby="ex3">
              <%= link_to 'Show', user, class: "dropdown-item" %>
              <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>