<div class="card material-table">
<div class="card-body ">
  <div class="col-md-8">
    <% if @user.clients.any? %>
      <h3>Clients (<%= @user.clients.count %>)</h3>
      <ol class="clients">
        <%= render @clients %>
      </ol>
      <%= will_paginate @clients %>
    <% end %>
  </div>
</div>
</div>